table{
    width: 900px;
    margin: auto;
}

#center-capa{
    height: 89px;
}

p{
    text-align: justify;
    font-size: 17px;
}

.menu{
    text-align: right;
}

h3{
    text-align: center;
}

#body-home{
    background-image: url(../img/fundo.png);
}

.body-backgroup{
    background-image: url(../img/fundo2.png);
}

.menu-margin{
    margin-top: 22px;
}